.Cartbox{
    width: 25%;
     align-items: center;
    justify-content: center;
     
    flex-wrap: wrap;
    
    display: flex;
    padding-bottom: 10px;
    
}
@media (max-width:700px) {
    .Cartbox{
        width: 50vw;
        flex-wrap: wrap;
        
        
    }
}
.boldText{
    font-size:20px;
    text-align: center;
    font-weight:bold ;
    margin-top: 10px;
    color: antiquewhite;
}
.details{
    font-size:15px;
    color: antiquewhite;
    margin: 10px;
    
}
.moreButton{ 
    
    padding: 1px;
    border-radius: 10px;
    background-color:white;
    font-size:15px;
    font-weight:bold ;
    font-style: italic;
    text-align: center;
    width: 80px;
    margin-top: 10px;
    
   
}