.findBox{
    width: 70vw;
    
    display: flex;
    margin-left: 15vw;
    margin-top: 5vw;
    padding: 10px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#04D8AE;
   
    font-style: italic;
    font-size: 30px;
}
.buttonBox{
    
    background-color: black;
    color: antiquewhite;
    margin-bottom: 5vw;
    border-radius: 10px;
    padding: 10px;
}
.boxButton{
    width: 70vw;
    height: 20px;
    display: flex;
    margin-left: 15vw;
    margin-top: 5vw;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    
    
}

.dropdown{
    background-color: #04D8AE;
    height: 30px;
}
 .inputFindUni{
    
        width:70vw;
         margin-bottom: 10px;
        
        margin-top: 5px;
         padding:10px;
         border-radius:20px;
          background-color: #7891BE;
      
 } 