.footerBox{
    height: 150px;
    background-color: black;
    display: flex;
    justify-content:space-between ;
}
.box1{
    color: aliceblue;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    width: 50%;
    
}
.terms{
    font-size: 10px;
margin-left: 20px;
margin-bottom:10px;
}
.about{
font-size: 15px;
margin-top: 10px;
}
.paragraph{
    font-size: 10px;
    margin-top: 10px;
}