.header{
    display: flex;
    padding: 10px;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-text{
    font-size: 30px;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    width: 20%;
    justify-content: center;
    display: flex;
}
.header-menu{
    display: flex;
    width: 50%;
    color: aliceblue;
    align-items: center;
    height: 100%;
    margin-left: 8%;
}
.header-menu div{
    margin: 10px;
    color: aliceblue;
   
}
.header-search{
    width:30%;
    display: flex;
    background-color: aliceblue;
    border-radius: 12.5px;
    height: 25px;
    display: flex;
    margin-left:15vw;
    align-items: center;
    height: 30px;
    margin-left: 2%;
}
.header-search input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 12.5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}
.header-menu-icon{
    width: 0;
    height: 0;
    overflow: hidden;
}
@media (max-width:1000px) {
    .header-menu{
       display: block;
       color: black;
       display: none;
    }
    .header-menu div{
        color: black;
        font-size: 20px;
    }
    .header-menu-icon{
        width: 80px;
        height: 80px;
        color: aliceblue;
        position: absolute;
        top: 2%;
        right: -10px;
    }
    .header-search{
        margin-right: 90px;
    }
    .header-text{
        font-size: 15px;
    }
}