.fullBox{
    height:650px;
    width: 100%;
    background-color: cornsilk;
    padding: 50px;
}
.backBox{
    
    
    background-color: blue;
    border-radius: 30px;
    position: absolute;
    width: 94%;
    margin-top: 50px;
    padding-bottom: 20px;
    
}
.profileBox{
    height: 100px;
    width: 100px;
    border-radius:50px ;
    margin-top: -50px;
    margin-left: 47%;
    background-color: antiquewhite;
}
.infoBox{
    color:aliceblue;
    padding-left:50px ;
    padding-top: 20px;
}